<?xml version="1.0"?>
<model>
  <name>cnu_vtol</name>
  <version>1.0</version>
  <sdf version='1.4'>cnu_vtol.sdf</sdf>

  <author>
   <name>Sejin Jang</name>
   <email>raoul7@naver.com</email>
  </author>

  <description>
    This is a model of a VTOL y3 Tilt rotor plane. (like E-flite Convergence.
  </description>
</model>
